.main-container {
  height: 100%;
  width: 100%;
  background-color: #141d2f;
  font-family: sans-serif;
  
  justify-content: space-between;
  max-width: 1440px;
  margin: 30px auto;

  .goToTop {
    display: flex;
    justify-content: flex-end;
   
    align-items: center;
    margin-top: 50px;

    .none {
      display: none;
    }
    .toTop {
      background-image: url("./../../../assets/img/Go\ up\ button.png");
      background-position: center;
      width: 40px;
      height: 40px;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 50%;
      margin-bottom:15px;

      cursor: pointer;

      &:hover {
        background-image: url("./../../../assets/img/Go\ up\ button\ hover.png");
        background-position: center;
        background-repeat: no-repeat;
        border-color: transparent;
      }
    }
  }

  .header {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 40px;
    text-align: center;

    /* hr {
        border: 2px solid #4b47ff;
        width: 100px;
        margin-left: 40px;
    } */

    h1 {
      color: white;
      font-size: 90px;
      margin: 0; /* Entfernt standardmäßige Margins */
    }
  }

  .contact-form {
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .contact-txt {
     
      text-align: center;
      margin: 0 auto;

      /* hr {
        display: inline-block;
        position: relative;
        width: 12%;
        border: 2px solid #1ce6b6;
        top: 80px;
        right: 100px;
      } */

      h2 {
        font-size: 32px;
        color: white;
      }

      p {
        color: white;
        font-size: 18px;
      }
    }
  }

  .contact-formular {
    position: relative;
    margin: 0 auto;

    .nameValidation,
    .emailValidation {
      color: red;
      position: relative;
      top: -12px;
      margin-bottom: 16px;
    }

    .messageValidation {
      color: red;
      position: relative;
      top: 5px;
    }

    .privacy-txt a {
      color: #4b47ff;
      text-decoration: none;

      &:hover {
        text-decoration: underline #4b47ff;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      position: relative;

      .privacy-txt {
        color: white;
        position: relative;
        bottom: 18px;
        left: 30px;
      }

      input {
        width: 617px;
        height: 40px;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 1px solid #4b47ff;
        background-color: transparent;
        //padding: 8px 0 8px 4px;
        cursor: pointer;
        color: white;

        .isNameInvalid {
          border: 1px solid red !important;
          outline-color: red !important;
        }
        .invalid {
          border: 1px solid red !important;
          outline-color: red !important;
        }

        &::placeholder {
          color: white; // Setze die Farbe des Placeholder-Textes
          padding: 8px;
        }
      }

      textarea {
        height: 200px;
        width: 617px;
        border: 1px solid #4b47ff;
        background-color: transparent;
        //padding: 8px 0 8px 4px;
        cursor: pointer;
        color: white;
        border-radius: 10px;

        &::placeholder {
          color: white;
          padding: 8px;
        }

        &:hover {
          border: 1px solid #00bee8;
          
        }
      }
      .checkbox {
        position: relative;
        border: 1px solid white;
        top: 59px;
        width: 19px;
        height: 19px;
        right: 4px;
        opacity: 0;
      }

      .checkmark {
        background-image: url("./../../../assets/img/check_box_outline_blank.png"); /* Bild für die nicht ausgewählte Checkbox */
        background-size: cover;
        display: inline-block;
        width: 18px;
        height: 18px;
        cursor: pointer;
        margin-top: 20px;

        &:hover {
          background-image: url("./../../../assets/img/checkbox-hover.png");
          background-size: cover;
          display: inline-block;
          width: 18px;
          height: 18px;
          transform: scale(1.3);
        }

        &.checked {
          background-image: url("./../../../assets/img/check_box.png");
          background-size: cover;
          display: inline-block;
          width: 18px;
          height: 18px;
        }
      }
    }
    .submit-btn {
      height: 58px;
      width: 253px;
      border-radius: 10px;
      background-color: #21a3be;
      color: white;
      margin: 0 auto;
      font-size: 23px;
      font-weight: 400;
      cursor: pointer;
      border: none;
      box-shadow: 4 4 4 rgba(0, 0, 0, 0);

      &:hover {
        transform: scale(1.1);
      }

      &:disabled {
        background-color: #b6b6b6;
        cursor: not-allowed;
        transform: none;
      }
    }
  }
}


@media screen and (min-width: 992px) and (max-width: 1440px) {
  .main-container {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .toTop {
      left: 0;
      position: relative;
      margin: 50px auto;
    }

    .header {
      font-size: 30px;
      margin: 10px auto;
      text-align: center;

      h1 {
        font-size: 50px;
        margin-bottom: 20px;
      }

      hr {
        display: none;
      }
    }

    .contact-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      

      .contact-txt {
        width: 100%;
        padding: 0 20px;
        margin: 20px 50px;
        text-align: center;

        h2 {
          max-width: 800px;
          margin: 0 auto;
        }
        p{
          max-width: 800px;
          margin: 10px auto;
          
        }

        hr {
          display: none;
        }
      }
    }

    .contact-formular {
      display: flex;
      max-width: 400px;

      .nameValidation,
      .emailValidation,
      .messageValidation {
        position: relative;
        top: 5px;
        left: 10px;
      }

      form {
        max-width: 100%;
        padding: 5px;

        .checkbox {
          position: relative;
          right: 187px;
          height: 19px;
          width: 19px;
          top: 48px;
        }

        input,
        textarea {
          width: 100%;
          max-width: 800px;
          margin: 10px auto;
        }

        .privacy-txt {
          margin: 0 auto;
          
          max-width: 740px;
        }
      }
    }
  }
}

@media screen and (min-width: 759.98px) and (max-width:991.98px) {
  .main-container {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .toTop {
      left: 0;
      position: relative;
      margin: 50px auto;
    }

    .header {
      font-size: 30px;
      margin: 10px auto;
      text-align: center;

      h1 {
        font-size: 50px;
        margin-bottom: 20px;
      }

      hr {
        display: none;
      }
    }

    .contact-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      

      .contact-txt {
        width: 100%;
       
        margin: 20px 0;
        text-align: center;

        h2 {
          max-width: 500px;
          margin: 0 auto;
        }
        p{
          max-width: 500px;
          margin: 10px auto;
          
        }

        hr {
          display: none;
        }
      }
    }

    .contact-formular {
      display: flex;
      max-width: 500px;

      .nameValidation,
      .emailValidation,
      .messageValidation {
        position: relative;
        top: 5px;
        left: 10px;
      }

      form {
        max-width: 100%;
        padding: 5px;

        .checkbox {
          position: relative;
          right: 210px;
          height: 19px;
          width: 19px;
          top: 48px;
        }

        input,
        textarea {
          width: 100%;
          max-width: 500px;
          margin: 10px auto;
        }

        .privacy-txt {
          margin: 0 auto;
          
          max-width: 440px;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 759.98px) {
  .main-container {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .toTop {
      left: 0;
      position: relative;
      margin: 50px auto;
    }

    .header {
      font-size: 30px;
      margin: 10px auto;
      text-align: center;

      h1 {
        font-size: 50px;
        margin-bottom: 20px;
      }

      hr {
        display: none;
      }
    }

    .contact-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .contact-txt {
        width: 100%;
        
        margin: 20px 0px;
        text-align: center;

        h2 {
          max-width: 400px;
          margin: 0 auto;
        }
        p{
          max-width: 400px;
          margin: 10px auto;
          
        }

        hr {
          display: none;
        }
      }
    }

    .contact-formular {
      display: flex;
      max-width: 400px;

      .nameValidation,
      .emailValidation,
      .messageValidation {
        position: relative;
        top: 5px;
        left: 10px;
      }

      form {
        max-width: 100%;
        padding: 5px;

        .checkbox {
          position: relative;
          right: 120px;
          height: 19px;
          width: 19px;
          top: 48px;
        }

        input,
        textarea {
          width: 100%;
          max-width: 400px;
          margin: 10px auto;
        }

        .privacy-txt {
          margin: 0 auto;
          
          max-width: 260px;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 575.98px) {
  .main-container {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .toTop {
      left: 0;
      position: relative;
      margin: 50px auto;
    }

    .header {
      font-size: 30px;
      margin: 10px auto;
      text-align: center;

      h1 {
        font-size: 50px;
        margin-bottom: 20px;
      }

      hr {
        display: none;
      }
    }

    .contact-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      

      .contact-txt {
        width: 100%;
       
        
        text-align: center;

        h2 {
          max-width: 280px;
          margin: 0 auto;
        }
        p{
          max-width: 280px;
          margin: 10px auto;
          font-size: 16px;
          
        }

        hr {
          display: none;
        }
      }
    }

    .contact-formular {
      display: flex;
      max-width: 400px;

      .nameValidation,
      .emailValidation,
      .messageValidation {
        position: relative;
        top: 5px;
        left: 10px;
      }

      form {
        max-width: 100%;
        padding: 5px;
        .checkbox {
          position: relative;
          right: 118px;
          height: 19px;
          width: 19px;
          top: 48px;
        }

        input,
        textarea {
          width: 100%;
          max-width: 320px;
          margin: 10px auto;
        }

        .privacy-txt {
          margin: 0;
          
          max-width: 190px;
        }
      }
    }
  }
}

