.navbar {
    position: fixed;
    top: 0;
}

.privacy {
    background-color: #141D2E ;
    height: auto;
    width: 100vw;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
   

    h1 {
        color: white;
        font-size: 55px;
        text-align: center;
    }

    ul {
        color: white;

        li {
            color: white;
        }
    }

    h2, h3, h4 {
        color: white;
        font-size: 55px;
        text-align: center;
    }

    p {
        color: white;
        text-align: left;
        font-size: 22px;
        margin: 0 auto;
        max-width: 1440px;
        
    }
}




@media screen and (min-width: 998px) and (max-width: 1440px){
    .privacy {
        width: 100%;

        h1,h2,h3,h4 {
            font-size: 35px;
            margin-top: 30px;
            max-width:800px;
            margin: 15px auto;
        }
        p,
        ul{
            max-width: 800px;
            margin: 15px auto;
            text-align: left;
            
        }
       
    }

    .navbar {
        width: 100%;
    }
}
@media screen and (min-width: 767px) and (max-width: 998px){
    .privacy {
        width: 100%;

        h1,h2,h3,h4 {
            font-size: 35px;
            margin-top: 30px;
            max-width:600px;
            margin: 0 auto;
        }
        p,
        ul{
            max-width: 600px;
            margin: 10px auto;
            
        }
    }

    .navbar {
        width: 100%;
    }
}
@media screen and (min-width: 572px) and (max-width: 767px){
    .privacy {
        width: 100%;

        h1,h2,h3,h4 {
            font-size: 24px;
            max-width:400px;
            margin: 10px auto;
            text-align: left;
        }
        p,
        ul{
            max-width: 400px;
            margin: 15px auto;
            text-align: left;
            font-size:16px ;
            
        }
    }

    .navbar {
        width: 100%;
    }
}
@media screen and (min-width: 320px) and (max-width: 572px){
    .privacy {
        width: 100%;

        h1,h2,h3,h4 {
            font-size: 24px;
            max-width:320px;
            margin: 10px auto;
            text-align: left;
        }
        p,ul{
            max-width: 320px;
            margin: 10px auto;
            text-align: left;
            font-size:16px ;

            
        }
    }

    .navbar {
        width: 100%;
    }
}