
<div class="main-container">
    <div class="txt-section">
        <h1>{{'About me' | translate}}</h1>
        <p>{{ 'Hi, I am Cihad Isen, a Frontend Developer based in Berlin, Germany.' | translate }}<br>

            {{ 'During my training at the Developer Academy, I was able to acquire the necessary skills in frontenddevelopment through well-structured and intensive projects.' | translate }}
        
            {{ 'These skills were further strengthened in some larger projects, where I collaborated with a team, enhancing my communication and teamwork abilities.' | translate }}
        </p>

        <div class="img-txt">
            <img src="./../../../assets/img/lightbulb.png"> 
           <p> {{ 'Customer interaction has always been familiar to me, allowing me to develop considerable patience in dealing with people over the years. During my training, I also worked intensively to meet the strict project requirements in every free moment, which further heightened my ability to work under pressure.' | translate }}</p>

        </div>
        <div class="img-txt">
            <img src="./../../../assets/img/puzzle.png"> 
           <p> {{ 'Through discipline and perseverance, I have strengthened my skills in HTML, CSS, and JavaScript, as well as working with Angular, during the course of my training. This enabled me to create, among other things, a task management tool and a small game, both of which you can see for yourself.' | translate }} </p>

        </div>
       
    </div>
    <div class="img-section">
        <img src="./../../../assets/img/Cihado.png">
    </div>
</div>