.navbar {
    position: fixed;
    top: 0;
}

.impressum {
    background-color: #1C273B ;
    height: auto;
    width: 100vw;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    margin: 0 auto;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
   

    h1 {
        color: white;
        font-size: 90px;
        text-align: center;
    }
    

    p {
        color: white;
        text-align: center;
        font-size: 22px;
        padding: 0 22px;
    }
}

@media screend and (min-width: 520px) and (max-width: 1400px){
    .impressum{


        h1{
            font-size: 55px;
        }
    }
}