.navbar {
  position: fixed;
  top: 0;
}

.impressum {
  background-color: #141d2e;
  height: auto;
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    color: white;
    font-size: 55px;
    text-align: center;
  }

  p {
    color: white;
    text-align: left;
    font-size: 22px;
    padding: 0 22px;
    margin: 15px auto;
    max-width: 800px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
  .impressum {
    h1 {
      font-size: 55px;
      max-width: 900px;
      margin: 10px auto;
    }
    p {
      max-width: 500px;
      margin: 10px auto;
      text-align: left;
      font-size: 24px;

      a {
        margin-bottom: 10px;
      }
    }
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
    .impressum {
      h1 {
        font-size: 55px;
        max-width: 500px;
        margin: 10px auto;
      }
      p {
        max-width: 500px;
        margin: 10px auto;
        text-align: left;
        font-size: 24px;
  
        a {
          margin-bottom: 10px;
        }
      }
    }
  }
@media screen and (min-width: 575px) and (max-width: 767px) {
    .impressum {
      h1 {
        font-size: 35px;
        max-width: 400px;
        margin: 30px auto;
      }
      p {
        max-width: 400px;
        margin: 10px auto;
        font-size: 18px;
        text-align: left;
  
        a {
          margin-bottom: 10px;
        }
      }
    }
  }

@media screen and (min-width: 320px) and (max-width: 575px) {
  .impressum {
    h1 {
      font-size: 24px;
      max-width: 320px;
      margin: 30px auto;
      
    }
    p {
      max-width: 320px;
      margin: 10 auto;
      font-size: 16px;
      text-align: left;

      a {
        margin-bottom: 10px;
      }
    }
  }
}
