<div class="main-container">
    <div class="skill-logos">
        <img src="./../../../assets/img/html.png">
        <img src="./../../../assets/img/CSS.png">
        <img src="./../../../assets/img/Js.png">
        <br><img src="./../../../assets/img/Angular.png">
        <img src="./../../../assets/img/Ts.png">
        <img src="./../../../assets/img/Firebase.png">
        <br><img src="./../../../assets/img/Git.png">
        <img src="./../../../assets/img/Scrum.png">
        <img src="./../../../assets/img/Rest API.png">
        <br><img src="./../../../assets/img/Test A.png">
    </div>
    <div class="skill-txt">
       
        <h1>{{ 'Skills' | translate}} </h1>
        <p> {{ "I have gained experience in building projects with various front end technologies and concepts." | translate }} </p>
        <button class="getInTouch"><a href="#contact"> {{'Get in touch' | translate }}</a></button>

    </div>
</div>