<div class="main-container">
    <div class="skill-logos">
        <img src="./../../../assets/img/html.png">
        <img src="./../../../assets/img/CSS.png">
        <img src="./../../../assets/img/Js.png">
        <br><img src="./../../../assets/img/Angular.png">
        <img src="./../../../assets/img/Ts.png">
        <img src="./../../../assets/img/Firebase.png">
        <br><img src="./../../../assets/img/Git.png">
        <img src="./../../../assets/img/Scrum.png">
        <img src="./../../../assets/img/Rest API.png">
        <br><img src="./../../../assets/img/Test A.png">
    </div>
    <div class="skill-txt">
        <hr>
        <h1>Skills</h1>
        <p>I have gained experience in building projects with various <br>front end technologies and conecpts</p>
        <button class="getInTouch"><a href="#contact">Get in touch</a></button>

    </div>
</div>