<app-navbar></app-navbar>
<div class="main-section">
    <div class="header">
        <h1><span class="rotate">I am</span> Cihad Isen</h1>
        <h2>FRONTEND DEVELOPER</h2>
    </div>
    <button class="talk-btn"><a href="#contact"> Let's Talk!</a></button>
    
    <div class="links">
        <hr>
        <a href="https://github.com/CihadIsen" target="_blank"><img src="./../../assets/img/Github button.png" alt="github-btn"></a>
        <a href="mailto:chihad@live.de"><img src="./../../assets/img/Email button.png" alt="email-btn"></a>
        <a href="https://www.linkedin.com/in/cihad-isen-296678308/?trk=opento_sprofile_goalscard" target="_blank"><img src="./../../assets/img/Linkedin button.png" alt="linkedin-btn"></a>
    </div>
    <div class="scroll">
        <span class="arrow animate">→</span>
        <span class="scroll-txt">Scroll Down </span>
        
    </div>
</div>