.main-container {
  height: 100%;
  background-color: #141d2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("./../../../assets/img/GReen\ shadow.png");
  background-repeat: no-repeat;
  background-position: left;
  max-width: 1440px;
  margin: 30px auto;

  .projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("./../../../assets/img/Vector\ 4.png");
    background-repeat: no-repeat;
    background-position: left;
    justify-content: space-between;

    .project-1,
    .project-2,
    .project-3 {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      img {
        width: 550px;
        height: 400px;
        object-fit: contain;
      }

      .project-txt {
        color: white;
        text-align: center;

        h1 {
          font-size: 88px;
          margin-bottom: 10px;
        }

        p {
          font-size: 20px;
          //word-spacing: 12px;
          width: 600px;
        }
      }
    }

    .join,
    .game,
    .portfolio {
      margin-bottom: 180px;

      .btns {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 20px;

        .github {
          width: 150px;
          height: 58px;
          background-color: transparent;
          color: white;
          font-size: 23px;
          font-weight: 400;
          border-radius: 10px;
          font-family: sans-serif;
          cursor: pointer;
          border: 1px solid #00bee8;

          &:hover {
            background-color: #4b47ff;
            transition: 0.5s ease;
          }
          &:not(:hover) {
            background-color: transparent; /* Hintergrundfarbe, wenn nicht gehovert wird */
            transition: 0.5s ease;
          }
        }

        .test {
          width: 150px;
          height: 58px;
          background-color: #4b47ff;
          color: white;
          font-size: 23px;
          font-weight: 400;
          border-radius: 10px;
          font-family: sans-serif;
          cursor: pointer;
          border-style: none;

          &:hover {
            background-color: #00bee8;
            transition: 0.5s ease;
          }

          &:not(:hover) {
            background-color: #4b47ff; /* Hintergrundfarbe, wenn nicht gehovert wird */
            transition: 0.5s ease;
          }
        }
      }
    }
  }

  .header {
    text-align: center;
    margin: 50px auto;

    /*hr {
      border: 2px solid #4b47ff;
      display: inline-block;
      width: 30%;
      position: fixed;
      left: -400px;
      top: 160px;
    }*/

    h1 {
      font-size: 90px;
      font-weight: 700;
      color: white;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      color: white;
    }
  }
}

@media screen and (min-width: 991.98px) and (max-width: 1440px) {
  .main-container {
    display: flex;
    background-image: none;

    .header {
      h1 {
        font-size: 50px;
        margin-top: 50px;
        margin-bottom: 20px;
      }

      p {
        max-width: 800px;
        margin: 0 auto;
      }
    }
    

    .projects {
      display: flex;
      background-image: none;

      .join,
      .portfolio {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        h1 {
          font-size: 50px;
        }

        .project-1,
        .project-2,
        .project-3 {
          display: flex;
          flex-direction: column-reverse;
          margin-bottom: 0;
          align-items: center;

          .btns {
            display: flex;
            justify-content: space-evenly;
            gap: 10px;
          }

          .project-txt {
            padding: 5px;
            margin: 0 auto;

            h1 {
              font-size: 50px;
            }

            p {
              max-width: 800px;
              margin: 0 auto;
            }
          }

          img {
            width: 250px;
            height: 250px;
          }
        }
      }
      

      .loco {
        display: flex;
        flex-direction: column; // Nur für loco
        align-items: center;

        .project-1,
        .project-2,
        .project-3 {
          display: flex;
          flex-direction: column; // Nur für loco
          align-items: center;

          .btns {
            display: flex;
            justify-content: space-evenly;
            gap: 10px;
          }

          h1 {
            font-size: 50px;
          }

          .project-txt {
            padding: 5px;
            margin: 0 auto;

            h1 {
              font-size: 50px;
            }

            p {
              max-width: 800px;
              margin: 0 auto;
            }
          }

          img {
            width: 250px;
            height: 250px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .main-container {
    display: flex;
    background-image: none;

    .header {
      h1 {
        font-size: 50px;
        margin-top: 50px;
        margin-bottom: 20px;
      }

      p {
        max-width: 500px;
        margin: 0 auto;
      }
    }
    

    .projects {
      display: flex;
      background-image: none;
      

      .join,
      .portfolio {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        h1 {
          font-size: 50px;
        }

        .project-1,
        .project-2,
        .project-3 {
          display: flex;
          flex-direction: column-reverse;
          margin-bottom: 0;
          align-items: center;

          .btns {
            display: flex;
            justify-content: space-evenly;
            gap: 10px;
          }

          .project-txt {
            padding: 5px;
            margin: 0 auto;

            h1 {
              font-size: 50px;
            }

            p {
              max-width: 500px;
              margin: 0 auto;
            }
          }

          img {
            width: 250px;
            height: 250px;
          }
        }
      }
      

      .loco {
        display: flex;
        flex-direction: column; // Nur für loco
        align-items: center;

        .project-1,
        .project-2,
        .project-3 {
          display: flex;
          flex-direction: column; // Nur für loco
          align-items: center;

          .btns {
            display: flex;
            justify-content: space-evenly;
            gap: 10px;
          }

          h1 {
            font-size: 50px;
          }

          .project-txt {
            padding: 5px;
            margin: 0 auto;

            h1 {
              font-size: 50px;
            }

            p {
              max-width: 500px;
              margin: 0 auto;
            }
          }

          img {
            width: 250px;
            height: 250px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .main-container {
    display: flex;
    background-image: none;

    .header {
      h1 {
        font-size: 50px;
        margin-top: 50px;
        margin-bottom: 20px;
      }

      p {
        max-width: 500px;
        margin: 0 auto;
      }
    }
    

    .projects {
      display: flex;
      background-image: none;

      .join,
      .portfolio {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        h1 {
          font-size: 50px;
        }

        .project-1,
        .project-2,
        .project-3 {
          display: flex;
          flex-direction: column-reverse;
          margin-bottom: 0;
          align-items: center;

          .btns {
            display: flex;
            justify-content: space-evenly;
            gap: 10px;
          }

          .project-txt {
            
            margin: 0 auto;

            h1 {
              font-size: 50px;
            }

            p {
              max-width: 500px;
              margin: 0 auto;
            }
          }

          img {
            width: 250px;
            height: 250px;
          }
        }
      }
      

      .loco {
        display: flex;
        flex-direction: column; // Nur für loco
        align-items: center;
       

        .project-1,
        .project-2,
        .project-3 {
          display: flex;
          flex-direction: column; // Nur für loco
          align-items: center;

          .btns {
            display: flex;
            justify-content: space-evenly;
            gap: 10px;
            
          }

          h1 {
            font-size: 50px;
          }

          .project-txt {
            padding: 5px;
            margin: 0 auto;

            h1 {
              font-size: 50px;
            }

            p {
              max-width: 500px;
              margin: 0 auto;
            }
          }

          img {
            width: 250px;
            height: 250px;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 320px) and (max-width: 575.98px) {
  .main-container {
    display: flex;
    background-image: none;

    .header {
      h1 {
        font-size: 45px;
        margin-top: 50px;
        margin-bottom: 20px;
      }

      p {
        max-width: 280px;
        margin: 0 auto;
      }
    }
    

    .projects {
      display: flex;
      background-image: none;

      .join,
      .portfolio {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        h1 {
          font-size: 45px;
        }

        .project-1,
        .project-2,
        .project-3 {
          display: flex;
          flex-direction: column-reverse;
          margin-bottom: 0;
          align-items: center;

          .btns {
            display: flex;
            justify-content: space-evenly;
            gap: 5px;

            .github,
            .test{
              width: 120px;
              height: 60px;
            }
            
          }

          .project-txt {
           
            margin: 0 auto;

            h1 {
              font-size: 50px;
            }

            p {
              max-width: 280px;
              margin: 0 auto;
            }
          }

          img {
            width: 250px;
            height: 250px;
          }
        }
      }
      

      .loco {
        display: flex;
        flex-direction: column; // Nur für loco
        align-items: center;

        .project-1,
        .project-2,
        .project-3 {
          display: flex;
          flex-direction: column; // Nur für loco
          align-items: center;

          .btns {
            display: flex;
            justify-content: space-evenly;
            //gap: 5px;
            margin: 10px auto;
            max-width:280px;

            .github,
            .test{
              width: 120px;
              height: 60px;
            }
            
          }

          h1 {
            font-size: 45px;
          }

          .project-txt {
            padding: 5px;
            margin: 0 auto;

            h1 {
              font-size: 50px;
            }

            p {
              max-width: 260px;
              margin: 0 auto;
            }
          }

          img {
            width: 250px;
            height: 250px;
          }
        }
      }
    }
  }
}
